.stock-item {
  margin-bottom: 10px;

  .stock-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }
  .stock-name { font-size: 12px; color: $text; }
  .stock-qty  { font-size: 11px; font-weight: 600; }
  .stock-meta { font-size: 10px; color: $muted; margin-top: 3px; }
}

.green-text { color: $green-lt; }
.red-text   { color: $red; }
.gold-text  { color: $gold; }